<ion-footer class="footer-shadow">
  <ion-toolbar class="footer">
    <ion-item-group>
      <div routerLink="/clock-in" class="footer-label">
        <ion-img src="../../assets/basic/home.png"></ion-img>
        <ion-label>
          Main
        </ion-label>
      </div>
      <div routerLink="/main" class="footer-label">
        <ion-img class="history" src="../../assets/basic/history.png"></ion-img>
        <ion-label>
          History
        </ion-label>
      </div>
      <div class="footer-label" routerLink="/report">
        <ion-img src="../../assets/basic/report.png"></ion-img>
        <ion-label>
          Report
        </ion-label>
      </div>
      <div class="footer-label" style="height: 1.5rem;">
        <ion-icon style="margin-bottom: 2px;"></ion-icon>
        <ion-label>
          More
        </ion-label>
      </div>
      <div style="flex: 2"></div>
    </ion-item-group>
  </ion-toolbar>
</ion-footer>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="more-button">
    <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button>
      <div class="footer-label" routerLink="/inbox-details">
        <!-- <ion-img class="inbox-noti" src="../../assets/basic/ellipse-notification.png"
          *ngIf="data.userInfo.notifications.approval.length !=0 || data.userInfo.notifications.updates.length !=0">
        </ion-img> -->
        <ion-img src="../../assets/basic/bell.png"></ion-img>
        <ion-label>
          Inbox
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label" routerLink="/support">
        <ion-img src="../../assets/basic/support.png" class="main-support"></ion-img>
        <ion-label>
          Support
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label icon-setting-group" style="max-width: 40px;white-space: pre-wrap;display: flex; place-content: center;"  routerLink="/beacon">
        <!-- <ion-icon name="settings-outline" class="main-support icon-setting"></ion-icon> -->
        <ion-label>
          Beacon History
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label icon-setting-group"
        style="max-width: 40px;white-space: pre-wrap;display: flex; place-content: center;" routerLink="/register-ble">
          <!-- <ion-icon name="settings-outline" class="main-support icon-setting"></ion-icon> -->
        <ion-label>
          Beacon Config
        </ion-label>
      </div>
    </ion-fab-button>
    <ion-fab-button>
      <div class="footer-label icon-setting-group" routerLink="/settings">
        <ion-icon name="settings-outline" class="main-support icon-setting"></ion-icon>
        <ion-label>
          Misc
        </ion-label>
      </div>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>


<div class="clockin-button clockin" >
  <ion-button shape="round" fill="outline" class="submits" (click)="registerNewDevice()">
    <ion-label>Submit</ion-label>
  </ion-button>
</div>
<script src="cordova.js"></script>
<ion-content  class="contents">

  <ion-img class="bg-img-others" src="../../assets/basic/background-default.png"></ion-img>
  <div class="content">
    <ion-item-group class="header">
      <ion-label>beeWhere</ion-label>
    </ion-item-group>
  </div>
  <div class="registered-list">
    <ion-title>Registered Bluetooth Device</ion-title>
    <ion-card class="card-reg-list">
      <ion-card-content>
        <!-- <ol>
          <div *ngFor="let regList of beaconData.registeredList">
            <li>{{regList.name}}</li>
          </div>
        </ol> -->
        <ion-note>Slide left to delete registered beacon</ion-note>
        <ng-container *ngIf="beaconData.registeredList.length > 0; else noRecordList">
          <ion-item-sliding *ngFor="let regList of beaconData.registeredList; let i = index;">
            <ion-item class="slide-item" lines="none">
              <li
                style="padding-left: 15px; display: flex;flex-flow: column;border-bottom: 1px solid var(--ion-color-text);padding-bottom: 10px;padding-top: 10px;min-width: 300px;">
                <div style="font-size: var(--ion-text-15); color: var(--ion-color-text-header);">{{regList.name}}</div>
                <div style="font-size: var(--ion-text-13);color: var(--ion-color-text);">UUID: {{regList.uuid}}</div>
                <div style="display:flex; font-size: var(--ion-text-13); color: var(--ion-color-text);">
                  <div style="flex:1;">Major: {{regList.major}}</div>
                  <div style="flex:1;">Minor: {{regList.major}}</div>
                </div>
              </li>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option (click)="onDeleteRegisteredBeacon(beaconData.registeredList, regList, i)">
                <ion-img class="trash-style" src="../../assets/basic/trash-can.png"></ion-img>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ng-container>
        <ng-template #noRecordList>
          <div class="no-record">
            No registered beacon 
          </div>
        </ng-template>
        
      </ion-card-content>
    </ion-card>

  </div>
  <div class="new-register-device">
    <ion-title>Register Beacon Device</ion-title>
    <ion-card>
      <ion-card-content>
        <div>{{beaconScope | json}}</div>
        <form [formGroup]="regform">
          <ion-item-group>
          <ion-label>Device List:</ion-label>
                <ion-select placeholder="Select availabel device" formControlName="device">

                  <ng-container *ngIf="beaconData.unregisteredList > 0; else nodataunregisteredbeacon">
                    <ion-select-option *ngFor="let beaconList of beaconData.unregisteredList" [value]="beaconList">
                      <div>
                        <div style="font-size: var(--ion-text-15); color: var(--ion-color-text);">
                          UUID: {{beaconList.uuid}}
                        </div>
                        <div style="display:flex; font-size: var(--ion-text-13); color: var(--ion-color-text);">
                          <div style="flex: 1;">Major: {{beaconList.major}}</div>
                          <div style="flex: 1;">Minor: {{beaconList.minor}}</div>
                        </div>
                        <div style="display:flex; font-size: var(--ion-text-13); color: var(--ion-color-text);">
                          <div style="flex: 1;">RSSI: {{beaconList.rssi}}</div>
                          <div style="flex: 1;">Proximity: {{beaconList.proximity}}</div>
                        </div>
                      </div>
                    </ion-select-option>
                  </ng-container>
                  <ng-template #nodataunregisteredbeacon>
                    <div class="no-record">
                      <ion-select-option disabled>Beacon not found
                      </ion-select-option>
                    </div>
                  </ng-template>
                </ion-select>
          </ion-item-group> 
          <ion-item-group>
            <ion-label>Name:</ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
          </ion-item-group>
          <div class="clockin-button">
          </div>

        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
