:host {
    .slide-item {
        transform: translate3d(-30px, 0px, 0px);
        width: fit-content;
    }

    .trash-style {
        width: 30px;
    }

    .card-reg-list {
        height: 35vh;
        max-height: 40vh;
        overflow-y: auto;
    }

    .registered-list {
        margin-top:15px;
    }

    .new-register-device {
        margin-top:15px;
        ion-item-group {
            margin: 5px;
        }
        ion-select, ion-input {
            border: 1px solid #50505029;
            border-radius: 7px;
            padding: var(--ion-text-14);
        }
    }
}