<ion-header>
  <ion-toolbar>
    <ion-title>beacon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
      <ion-card-content>
        <ion-table>
          <ion-row>
            <ion-col style="flex:2;">Date</ion-col>
            <ion-col style="flex:1.5;">Time</ion-col>
            <ion-col style="flex:4;">Beacon ID</ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="flex:2;">22-05-2021</ion-col>
            <ion-col style="flex:1.5;">8:01 AM</ion-col>
            <ion-col style="flex:4;">WGX iBeacon 1</ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="flex:2;">22-05-2021</ion-col>
            <ion-col style="flex:1.5;">4:01 PM</ion-col>
            <ion-col style="flex:4;">WGX iBeacon 1</ion-col>
          </ion-row>
        </ion-table>
      </ion-card-content>
  </div>
</ion-content>
