:host {

    .grid-title-style {
        align-items: center;
        border-radius: 2px;
        background: var(--ion-color-submit);
        opacity: 0.8;
        color: var(--ion-color-white);
        text-align: center;
        font-size: var(--ion-text-12);
        padding: 0.1em 0;
    }

    .grid-body-style-row {
        border-bottom: 1px solid #50505029;
        border-radius: 2px;
        padding: 0.4em 0;
        color: var(--ion-color-text);
    }
}